doctype html
html
    head
        title Bowling Battle
    body
        section_1
            img.group(src="img/group.svg" width='8%')
            img.brooklyn-logotype(src="img/Brooklyn.svg" width='8%')
            img.page-1(src="img/page-1.svg" width='17%')
        middle_section
            img.middle_img(src="img/middle.svg" width='100%')
        section_2
            h1 Регламент
            .description
                .left
                    img(src="img/home.svg")
                    p.text_color По одной команде
                     br
                     | от каждой компании
                .mid
                    img(src="img/face.svg")
                    p.text_color В каждой
                     br
                     | команде по 3 человека
                .right
                    img(src="img/skittles.svg")
                    p.text_color Играем 3 игры квалификации
                     br
                     |плюс финальная часть
            .file_pdf
                img.pdf_img(src='img/logo_pdf.svg')
                a.none_decor(href='#')
                    p.text_color Полный регламент.pdf, 27 mb
            img.win_m(src='img/winner.svg')
            p Победители получают призы и медали
            p + уважение и почет, конечно же
        section_3
            h1 Место проведения
            img.map_img(src='img/map.png')
